<!-- 百度分享 -->
<div class="share-box">
<div class="share-box-top">分享到</div>
<div class="share-box-inner">
<div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare">
<a class="bds_qzone" title="分享到QQ空间" href="#"></a>
<a class="bds_tsina" title="分享到新浪微博" href="#"></a>
<a class="bds_tqq" title="分享到人人网" href="#"></a>
<a class="bds_baidu" title="百度收藏" href="#"></a>
<span class="bds_more">更多</span>
<a class="shareCount" id="shareCount" href="#" title="累计分享0次">0</a>
</div>
</div>
<div class="share-box-bottom"></div>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=13246" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
var bds_config={"snsKey":{'tsina':'456368073','tqq':'','t163':'','tsohu':''}};
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script>
