<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-2888978344075481",
    enable_page_level_ads: true
  });
</script>
<meta name="domain_verify" content="pmrgi33nmfuw4ir2ej5gs4ljmfxgo6dvmv2gc3thfzrw63jcfqrgo5ljmqrduirzge3wczjugm4gmy3dmu2demdfhftgemzzmyztknjygy3dqmtdhercyitunfwwku3bozsseorrgq4dmnzygu4dcobzguzh2">
<meta charset="utf-8">
{% block head %}
{% block title %}<title>自强学堂 - 在线教程 - 学习, 分享, 让你更强! </title>{% endblock %}
{% block prev_next %}{% endblock %}
{% block seo %}{% endblock %}
<link rel="shortcut icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
<script src="/static/js/jquery-1.8.1.min.js" ></script>
{% block extrajs %}{% endblock %}
{% block headcss %}
<link rel="stylesheet" type="text/css" href="/static/css/stdtheme.css" >
{% endblock %}
{% block compaticity %}
<!--[if lt IE 7]>
<style>
#leftcolumn{margin-left:0}
</style>
<![endif]-->
{% endblock %}
{% endblock %}
</head>

<body>
{% block bodytop %}
<div id="top">
{% block nav %}
{% include "header.html" %}
{% endblock %}

{% block page %}
<div id="page">
<div style="clear:both;"></div>

{% block left %}
<div id="leftcolumn">
<h2 class="left">关于自强学堂</h2>
<a href="aboutus.htm" title="关于我们">关于我们</a> 
<a href="disclaimer.htm" title="帮助 W3CSchool">免责声明</a> 
<a href="sitemap.htm" title="W3CSchool Sitemap">自强站点地图</a> 
<a href="coder-learn-path.htm" target="_blank">程序猿学习路线</a> 
</div>
{% endblock %}

{% block main %}
<div id="main">
</div>
{% endblock %}

{% block right %}
{% include "rightcolumn.html" %}
{% endblock %}

{% endblock %}<!-- end block page -->
{% endblock %}<!-- end block bodytop -->
<div style="clear:both;"></div>
{% block footer %}
{% include "footer.html" %}
{% endblock %}
</div><!-- end page div -->
</div><!-- end top div -->
<a class="backtop" href="javascript:void"></a>

{% include "baidutongji.html" %}
{% include "baidushareright.html" %}
</body>
</html>
