{% spaceless %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-2888978344075481",
    enable_page_level_ads: true
  });
</script>
<meta charset="utf-8">
<title>自强学堂 - 在线教程 - w3c - 学习, 分享, 让你更强! </title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="baidu-site-verification" content="xsAne7Rs9k" />
<meta name="domain_verify" content="pmrgi33nmfuw4ir2ej5gs4ljmfxgo6dvmv2gc3thfzrw63jcfqrgo5ljmqrduirthbrdmmrumrrgcy3dmi2dmmbsme4ggojzgiztenzyhbsdantfmircyitunfwwku3bozsseorrgq4dmobyg42domzygizh2">
<meta name="viewport" content="width=device-width">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="w3c,w3cschool,HTML,CSS,XML,JavaScript,DOM,jQuery,Bootstrap,ASP.NET,PHP,SQL,Django,Python,编程,教程,培训,参考,实例,网站建设">
<meta name="description" content="自强学堂致力于提供优质的IT技术教程, 网页制作，服务器后台编写，以及编程语言，如HTML,JS,Bootstrap,Python,Django。同时也提供大量在线实例，通过实例，学习更容易，更轻松。">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="apple-touch-icon" href="/static/mobile/images/logo50.png">
<link rel="apple-touch-icon" sizes="76x76" href="/static/mobile/images/logo75.png">
<link rel="apple-touch-icon" sizes="120x120" href="/static/mobile/images/logo100.png">
<link rel="apple-touch-icon" sizes="152x152" href="/static/mobile/images/logo100.png">
<link rel="shortcut icon" href="/favicon.ico">
{% if not request.mobile %}
<style type="text/css">
.navbar .nav > li .dropdown-menu {
margin: 0;
}
.navbar .nav > li:hover .dropdown-menu {
display: block;
}
</style>
{% endif %}
</head>
<body>
<div class="container">
 <div class="row clearfix">
  <div class="col-md-12 column">
   <div class="page-header">
    <h1> 自强学堂 <small>在线教程 - 学习、分享、让你更强！</small> </h1>
   </div>
   <!--[if lt IE 8]>
		<div class="alert alert-warning alert-dismissable">
			 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> <h4> 注意! </h4> <strong>您正在使用低版本浏览器，</strong> 在本页面的显示效果可能有差异。 建议您升级到 <a href="http://www.google.cn/intl/zh-CN/chrome/" target="_blank">Chrome</a> 或以下浏览器： <a href="www.mozilla.org/en-US/firefox/‎" target="_blank">Firefox</a> / <a href="http://www.apple.com.cn/safari/" target="_blank">Safari</a> / <a href="http://www.opera.com/" target="_blank">Opera</a> / <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">Internet Explorer 11</a>
		</div>
		<![endif]-->
   <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
     <a class="navbar-brand" href="/">自强学堂</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav">
      <!-- <li class="active"> <a href="#">首页</a></li> -->
      <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">网页制作<strong class="caret"></strong></a>
       <ul class="dropdown-menu">
        <li><a href="/html/html-tutorial.html">HTML</a></li>
        <li><a href="/html/html5-intro.html">HTML 5</a></li>
        <li class="divider"> </li>
        <li><a href="/css/css-tutorial.html">CSS</a></li>
        <li><a href="/css3/css3-tutorial.html">CSS 3</a></li>
        <li class="divider"> </li>
        <li><a href="/js/js-tutorial.html">JavaScript 教程</a></li>
        <li><a href="/jquery/jquery-tutorial.html">jQuery 教程</a></li>
        <li><a href="/bootstrap/bootstrap-v2-tutorial.html">BootStrap V2</a></li>
        <li><a href="/bootstrap/bootstrap-tutorial.html">BootStrap V3</a></li>
        <li><a href="/jqueryui/jqueryui-tutorial.html">jQuery UI</a></li>
        <li><a href="/jeasyui/jqueryeasyui-tutorial.html">jQuery EasyUI</a></li>
        <li><a href="/jquerymobile/jquerymobile-tutorial.html">jQuery Mobile</a></li>
        <li class="divider"></li>
        <li><a href="/firebug/firebug-tutorial.html">Firebug 教程</a></li>
       </ul> </li>
      <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">网站建设<strong class="caret"></strong></a>
       <ul class="dropdown-menu">
        <li><a href="/web/web-buildingprimer.html">Web Building</a></li>
        <li><a href="/browsers/browser-information.html">Web 浏览器</a></li>
        <li><a href="/http/http-tutorial.html">HTTP 教程</a></li>
        <li><a href="/hosting/hosting-tutorial.html">Web 主机</a></li>
        <li><a href="/tcpip/tcpip-tutorial.html">Web TCP/IP</a></li>
        <li><a href="/w3c/w3c-tutorial.html">Web W3C</a></li>
        <li><a href="/quality/quality-tutorial.html">Web 品质</a></li>
        <li><a href="/webservices/webservices-tutorial.html">Web Services 教程</a></li>
       </ul> </li>
      <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">浏览器脚本<strong class="caret"></strong></a>
       <ul class="dropdown-menu">
        <li><a href="/js/js-tutorial.html">JavaScript 教程</a></li>
        <li><a href="/jquery/jquery-tutorial.html">jQuery 教程</a></li>
        <li><a href="/jqueryui/jqueryui-tutorial.html">jQuery UI 教程</a></li>
        <li><a href="/jquerymobile/jquerymobile-tutorial.html">jQuery Mobile 教程</a></li>
        <li><a href="/jeasyui/jqueryeasyui-tutorial.html">jQuery EasyUI 教程</a></li>
        <li><a href="/ajax/ajax-tutorial.html">AJAX 教程</a></li>
        <li><a href="/json/json-tutorial.html">JSON 教程</a></li>
        <li><a href="/googleapi/googleapi-tutorial.html">Google API 教程</a></li>
       </ul> </li>
      <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">服务器端<strong class="caret"></strong></a>
       <ul class="dropdown-menu">
        <li><a href="/python/python-tutorial.html">Python 教程</a></li>
        <li><a href="/python3/python3-tutorial.html">Python3 教程</a></li>
        <li><a href="/django/django-tutorial.html">Django 教程</a></li>
        <li><a href="/ruby/ruby-module.html">Ruby 教程</a></li>
        <li><a href="/php/php-tutorial.html">PHP 教程</a></li>
        <li><a href="/nodejs/nodejs-tutorial.html">Node.js 教程</a></li>
        <li><a href="/jsp/jsp-tutorial.html">JSP 教程</a></li>
        <li><a href="/sql/sql-tutorial.html">SQL 教程</a></li>
        <li><a href="/sqlite/sqlite-tutorial.html">SQLite 教程</a></li>
        <li><a href="/mysql/mysql-tutorial.html">MySQL 教程</a></li>
        <li><a href="/mongodb/mongodb-tutorial.html">Mongodb教程</a></li>
        <li><a href="/ado/ado-tutorial.html">ADO 教程</a></li>
        <li><a href="/asp/asp-tutorial.html">ASP 教程</a></li>
        <li><a href="/aspnet/aspnet-tutorial.html">ASP.NET 教程</a></li>
        <li><a href="/aspnet/webpages-intro.html">ASP.NET WebPages 教程</a></li>
        <li><a href="/aspnet/razor-intro.html">ASP.NET Razor 教程</a></li>
        <li><a href="/aspnet/mvc-intro.html">ASP.NET MVC 教程</a></li>
        <li><a href="/aspnet/aspnet-intro.html">ASP.NET WebForms 教程</a></li>
       </ul> </li>
      <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">编程语言<strong class="caret"></strong></a>
       <ul class="dropdown-menu">
        <li><a href="/asp/asp-tutorial.html">ASP 教程</a></li>
        <li><a href="/aspnet/aspnet-tutorial.html">ASP.NET 教程</a></li>
        <li><a href="/cprogramming/c-tutorial.html">C语言 教程</a></li>
        <li><a href="/php/php-tutorial.html">PHP 教程</a></li>
        <li><a href="/python/python-tutorial.html">Python 教程</a></li>
        <li><a href="/python3/python3-tutorial.html">Python3 教程</a></li>
        <li><a href="/java/java-tutorial.html">Java 教程</a></li>
        <li><a href="/linux/linux-shell.html">Linux Shell 编程</a></li>
        <li><a href="/ruby/ruby-module.html">Ruby 教程</a></li>
        <li><a href="/vbscript/vbscript-tutorial.html">VBScript 教程</a></li>
        <li class="divider"></li>
        <li><a href="/regexp/regexp-tutorial.html">正则表达式教程</a></li>
       </ul> </li>
      <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">XML教程<strong class="caret"></strong></a>
       <ul class="dropdown-menu">
        <li><a href="/xml/xml-tutorial.html">XML 教程</a></li>
        <li><a href="/dtd/dtd-tutorial.html">DTD 教程</a></li>
        <li><a href="/dom/dom-tutorial.html">XML DOM 教程</a></li>
        <li><a href="/xsl/xsl-tutorial.html">XSLT 教程</a></li>
        <li><a href="/xpath/xpath-tutorial.html">XPath 教程</a></li>
        <li><a href="/xquery/xquery-tutorial.html">XQuery 教程</a></li>
        <li><a href="/xlink/xlink-tutorial.html">XLink 教程</a></li>
        <li><a href="/xlink/xlink-tutorial.html">XPointer 教程</a></li>
        <li><a href="/schema/schema-tutorial.html">Schema 教程</a></li>
        <li><a href="/soap/soap-tutorial.html">SOAP 教程</a></li>
        <li><a href="/wsdl/wsdl-tutorial.html">WSDL 教程</a></li>
        <li><a href="/rss/rss-tutorial.html">RSS 教程</a></li>
        <li><a href="/rdf/rdf-tutorial.html">RDF 教程</a></li>
        <li><a href="/xslfo/xslfo-tutorial.html">XSL-FO 教程</a></li>
        <li><a href="/svg/svg-tutorial.html">SVG 教程</a></li>
       </ul> </li>
     </ul>
     <div class="navbar-form navbar-right">
      <script type="text/javascript">document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E%3Cscript charset="utf-8" src="http://rp.baidu.com/rp3w/3w.js?sid=73600958046581005') + '&t=' + (Math.ceil(new Date()/3600000)) + unescape('"%3E%3C/script%3E'));</script>
     </div>
    </div>
   </nav>
   <div class="row">
    <div class="col-md-4">
     <div class="thumbnail">
      <img alt="开始学习" src="/static/images/begin.jpg">
      <div class="caption">
       <h3> 开始学习 </h3>
       <p> 自强学堂提供了优质的IT技术基础教程, 网页制作，服务器后台编写，以及编程语言。同时也提供大量在线实例，通过实例，学习更容易，更轻松。 </p>
       <p> <a class="btn btn-success" href="/html/html-tutorial.html">现在开始 &gt;&gt;</a> <a class="btn btn-default" href="/aboutus/coder-learn-path.html">学习路线</a> <a class="btn btn-danger" href="/learn_share/python-learn-resource.html" title="Python 学习资源">学习分享</a> </p>
       <div class="row clearfix">
        <div class="col-xs-6 column">
         <ul class="list-unstyled">
          <li><a href="/html/html5-intro.html">HTML5 教程</a></li>
          <li><a href="/css/css-tutorial.html">CSS 教程</a></li>
          <li><a href="/js/js-tutorial.html">JavaScript 教程</a></li>
          <li><a href="/jquery/jquery-tutorial.html">jQuery 教程</a></li>
          <li><a href="/bootstrap/bootstrap-tutorial.html">Bootstrap 教程</a></li>
          <li><a href="/ajax/ajax-tutorial.html">AJAX 教程</a></li>
         </ul>
        </div>
        <div class="col-xs-6 column">
         <ul class="list-unstyled">
          <li><a href="/linux/linux-tutorial.html">Linux 教程</a></li>
          <li><a href="/python/python-tutorial.html">Python 教程</a></li>
          <li><a href="/django/django-tutorial.html">Django 教程</a></li>
          <li><a href="/java/java-tutorial.html">Java 教程</a></li>
          <li><a href="/regexp/regexp-tutorial.html">正则表达式教程</a></li>
          <li><a href="/mysql/mysql-tutorial.html">MySQL 教程</a></li>
         </ul>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="col-md-4">
     <div class="thumbnail">
      <img alt="在线实例" src="/static/images/online-try.jpg">
      <div class="caption">
       <h3> 在线实例 </h3>
       <p>IT技术最好的学习方法就是通过尝试摸索，自强学堂 提供了大量的在线实例，你只需要在页面中点击查看实例就能查看代码的执行效果。 </p>
       <p><a class="btn btn-primary" href="/try/tryjs_lightbulb/">在线实例 &gt;&gt;</a></p>
       <div class="row clearfix">
        <div class="col-xs-6 column">
         <ul class="list-unstyled">
          <li><a href="/html/html-examples.html">HTML 实例</a></li>
          <li><a href="/htmldom/htmldom-examples.html">HTML DOM 实例</a></li>
          <li><a href="/css/css-examples.html">CSS 实例</a></li>
          <li><a href="/js/js-examples.html">Javascript 实例</a></li>
          <li><a href="/jquery/jquery-examples.html">jQuery 实例</a></li>
          <li><a href="/ajax/ajax-examples.html">Ajax 实例</a></li>
         </ul>
        </div>
        <div class="col-xs-6 column">
         <ul class="list-unstyled">
          <li><a href="/asp/asp-examples.html">ASP 实例</a></li>
          <li><a href="/svg/svg-examples.html">SVG 实例</a></li>
          <li><a href="/xml/xml-examples.html">XML 实例</a></li>
          <li><a href="/dom/xml-dom-examples.html">XML DOM 实例</a></li>
          <li><a href="/aspnet/aspnet-examples.html">ASP.NET 实例</a></li>
          <li><a href="/aspnet/webpages-examples.html">Razor 实例</a></li>
         </ul>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="col-md-4">
     <div class="thumbnail">
      <img alt="参考手册" src="/static/images/references.jpg">
      <div class="caption">
       <h3> 参考手册 </h3>
       <p>自强学堂提供了各种技术的参考手册，手册中包含各种标签的描述及案例了及其属性和方法，让您可以快速查阅，方便快捷。 </p>
       <p> <a class="btn btn-warning" href="/tags/html-reference.html">参考手册</a> </p>
       <div class="row clearfix">
        <div class="col-xs-6 column">
         <ul class="list-unstyled">
          <li><a href="/tags/html-reference.html" target="_blank">HTML 4 参考</a></li>
          <li><a href="/tags/html-reference.html" target="_blank">HTML 5 参考</a></li>
          <li><a href="/cssref/css3-browsersupport.html" target="_blank">CSS3 兼容</a></li>
          <li><a href="/sql/sql-quickref.html" target="_blank">SQL 参考</a></li>
          <li><a href="/php/php-ref-array.html" target="_blank">PHP 参考</a></li>
          <li><a href="/jquerymobile/jquerymobile-ref-data.html">jQuery Mobile</a></li>
         </ul>
        </div>
        <div class="col-xs-6 column">
         <ul class="list-unstyled">
          <li><a href="/cssref/css-reference.html" target="_blank">CSS 1,2,3</a></li>
          <li><a href="/tags/html-colorname.html" target="_blank">HTML 颜色名</a></li>
          <li><a href="/dom/dom-nodetype.html" target="_blank">XML DOM 参考</a></li>
          <li><a href="/xslfo/xslfo-reference.html" target="_blank">XSL-FO 参考</a></li>
          <li><a href="/xpath/xpath-functions.html" target="_blank">XPath 参考</a></li>
          <li><a href="/xsl/xsl-w3celementref.html" target="_blank">XSLT 参考</a></li>
         </ul>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="row clearfix">
  <div class="col-md-12">
   <a class="btn btn-success" href="#">最新更新</a>
   <div class="row">
     {% for t in latest_tutorials %}
    <div class="col-lg-3 col-md-4 col-sm-6">
     {{ forloop.counter }}.
     <a href="{{ t.get_absolute_url }}" title="{{ t.title }}">{{ t.title }}</a>
    </div> {% endfor %}
   </div>
  </div>
 </div>
 {% if request.mobile %} 
  {% include 'ad_bottom_mobile.html' %} 
 {% else %} 
  {% include 'ad_bottom.html' %}
 {% endif %}
 <div class="row clearfix" style="padding-top: 20px;">
  <div class="col-md-12">
   <div class="well well-sm">
    <div style="text-align:center;">
     <a href="/aboutus/disclaimer.html">免责声明</a> |
     <a href="/aboutus/index.html">关于我们</a>
    </div> {% if not request.mobile %}
    <div>
     自强学堂为非盈利站点，提供的内容仅用于学习和培训，我们不能保证内容一定正确。通过使用本站进行学习随之而来的风险与本站无关。当使用本站时，代表您已接受了本站的使用条款和隐私条款。 版权所有，保留一切权利。自强学堂的所有内容仅供测试，是以学习知识和分享知识为目的，对任何法律问题及风险不承担任何责任。
    </div>{% endif %}
    <div style="padding-top:10px; text-align: center">
      自强学堂是用<a href="https://www.djangoproject.com/" target="_blank" rel="nofollow">Django</a>技术开发的站点，托管在<a href="http://www.aliyun.com/" target="_blank" rel="nofollow">阿里云</a>ECS<br>

      Copyright &copy; 2014 Powered by 自强学堂 All Rights Reserved.
     <a href="http://www.miitbeian.gov.cn/" rel="nofollow" target="_blank">吉ICP备13002477号-1</a>
    </div>
   </div>
  </div>
 </div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
{% include 'baidutongji.html' %}
</body>
</html>
{% endspaceless %}
